/*
================================ 
Fonts
================================
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

/*
================================ 
Variables
================================
*/

:root{
  --black: #000000;
  --white: #fff;

  /* Lighter shades */
  --primary3: #ff6666;
  --primary4: #ff3333;

  /* primary colors */
  --primary-5: #ff0000;
  
  /* Darker shades */
  --primary6: #cc0000;

  --blue4: #464956;
  --blue5: #181c2c;
  --blue6: #131623;

  --light4: #dadde2;
  --light5: #d1d5db;
  --light6: #a7aaaf;
}

/*
================================ 
CSS Resets
================================
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 0.85rem;
  line-height: 1.5rem;
  overflow-x: hidden;
  background-color: #d1d5db;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}


h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

strong{
  font-weight: 800;
}

/*///////////////////////////////////////*/
/*////////////GLOBAL STYLES//////////////*/
/*///////////////////////////////////////*/

.berk-parallax{
  height: 100svh;
  background-color: var(--light5);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--blue5);
}

.navbar{
  padding: 15px 20px;
  font-size: 1rem;
  display: flex;
  justify-content:space-between;
  background-color: #181c2c;
  color: var(--light5);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

#plus{
  color: var(--primary-5);
}

.logo{
  font-family: 'Zeyada', cursive;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--light5);
}

.hover-underline::after{
  content: ''; 
  width: 100%; 
  height: .15rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary-5);
  transform: scaleX(0);
  transition: transform 250ms ease-out;
  transform-origin: left;
}

.hover-underline:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

#down-btn, #left-btn, #right-btn{
  background: transparent;
  border-color: transparent;
  color: var(--primary-5);
}

.chevron-btn{
  width: 75px;
  height: 75px;
}
.slideshow-container .chevron-btn{
  width: 50px;
  height: 50px;
}

#down-btn:hover, #left-btn:hover, #right-btn:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: 0.6s ease;
}

.title {
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  display: inline-block;
}

.title h2{
  margin: 0;
  padding: 0;
}

.title h2::after{
  content: ''; 
  position: absolute;
  bottom: -5px;
  left: 0%;
  width: 100%;
  height: .20rem;
  background-color: var(--primary-5);
  animation: underline 1s ease-out;
}

@keyframes underline {
  from {width: 0};
  to {width: 100%}
}
.underline{
  position: relative;
  width: fit-content;
  margin: 0;
}
.underline::after{
  content: ''; 
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: .20rem;
  background-color: var(--primary-5);
  animation: underline 1s ease-out;
  z-index: 12;
}

.about-us, .gallery{
  border-top: var(--blue5) .25rem solid;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}
.about-us a{
  color: var(--primary-5);
}

.card{
  padding: 1.5rem;
}

.about-us > .intro{
  margin: 0;
  padding: 1.5rem;
}

.intro span{
  display: block;
  font-size: 1rem;
}

.about-us h4{
  text-transform: none;
}
.intro h4:nth-child(even), .intro span{
  color: var(--primary-5);
}

iconify-icon{
  color: var(--primary-5);
}

.grid-container{
  padding: 1.5rem;
  display: grid;
  gap: 1.5rem;
  width: 90%;
  margin: auto;
}
.grid-container a{
  cursor: auto;
}
.grid-item{
  width: 100%;
  min-height: 50svh;
  color: var(--white);
  border: 0.25rem solid var(--blue5);
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  transition: all 300ms ease-in-out;
  opacity: 85%;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  animation: pan-image 40s alternate infinite;
}
.grid-item:hover{
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  transform: translateY(-5px);
  opacity: 100%;
}

.grid-item-1{
  background-image: url(https://images.unsplash.com/photo-1543357480-6b56f2525605?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.grid-item-2{
  background-image: url(https://images.unsplash.com/photo-1558900812-b4a72552a5f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
  background-size: cover;
  margin: auto;  
  background-position: left;
}
.grid-item-3{
  background-image: url(https://images.unsplash.com/photo-1450993794279-9e448fdbdbe0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);
  background-size: cover;
  background-position: bottom center;
}
.grid-item-4{
  background-image: url(https://images.unsplash.com/photo-1614291282201-12cee14593fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
  background-size: cover;
  background-position: bottom center;
}
.grid-item-5{
  background-image: url(https://images.unsplash.com/photo-1592492613871-ed475203bfce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
  background-size: cover;
  background-position: bottom left;
}

@keyframes pan-image {
  0% {
  background-position: 25% 0;
  }
  100% {
    background-position: 45% 0;
  }
}

/*///////////////////////////////////////*/
/* ////////////SLIDE SHOW/////////////// */
/*///////////////////////////////////////*/
.mySlides {
  display: none
}
img {
  vertical-align: middle;
  border-radius: .25rem;
}
.slideshow-container {
  max-width: 1000px;
  width: 95%;
  position: relative;
  margin: auto;
  padding-top: 20px;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  /* background-color: rgba(0, 0, 0, 0.8); */
}
/* Caption text */
.text {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  border-radius: .25rem;
}
/* Number text (1/3 etc) */
.numbertext {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.6);
  font-size: .75rem;
  padding: 8px 12px;
  position: absolute;
  top: 20;
  right: 0;
  border-radius: .25rem;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: var(--primary-5);
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/*///////////////////////////////////////*/
/*//////////LARGE SCREENS ONLY///////////*/
/*///////////////////////////////////////*/
@media (min-width: 550px) {
  /* for screen LARGER than 550 */

  .berk-parallax{
    /* using a cropped pic to better fit background */
    background-image: url(./images/AZ\ Peaks\ Cropped.JPG);
    background-size: cover;
    background-position: left;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    animation: moving 60s alternate infinite;
  }

  @keyframes moving {
    0%{
      background-position: 25% 0;
    }
    100%{
      background-position: 70% 0;
    }
  }

  .list a{
    font-size: .8rem;
    position: relative;
    display: inline-block;
  }

  .ham-btn{
    display: none;
  }
  .list{
    display: flex;
    gap: 1rem;
  }

  iconify-icon{
    vertical-align:middle;
  }

  .grid-container{
    grid-template-columns: 1fr 1fr;
  }
  .grid-item:hover > h3, .grid-item:hover > p {
    transition: all 500ms ease-in-out;
    transform: translateY(-3rem);
  }
  .post-link{
    width: fit-content;
    color: var(--blue5);
    background-color: var(--light5);
    border: 2px solid var(--blue5);
    font-size: 1rem;
    padding: 10px;
    border-radius: .25rem;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .grid-item:hover > h3 + .post-link, .grid-item:hover > p + .post-link{
    transition: all 500ms ease-in;
    opacity: 100;
  }
}

@media (min-width: 900px){
  .grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*///////////////////////////////////////*/
/*//////////SMALL SCREENS ONLY///////////*/
/*///////////////////////////////////////*/
@media (max-width: 550px) {
  /* for screen smaller than 550 */

  .berk-parallax{
    background-image: url(./images/AZ\ Peaks\ Cropped2.JPG);
    background-attachment: fixed;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 100svh;
    animation: moving2 50s alternate infinite;
  }

  @keyframes moving2 {
    0%{
      background-position: 18% 0;
    }
    100%{
      background-position: 70% 0;
    }
  }

  .ham-btn{
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 99;
  }
  .list{
    position: fixed;
    z-index: 98;
    inset: 51px 0 30% 0;
    padding: 20px;
    flex-direction: column;
    background: var(--white);
    transform: translateY(-150%);
    display: flex;
    gap: 2rem;
    transition: transform 500ms ease-out;
    border:.25rem solid var(--blue5);
  }

  .list[data-state="opened"]{
    transform: translateY(0%);
  }

  .list li{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .list a{
    color: var(--blue5);
    margin: 0 100%;
    margin-inline:inherit;
    position: relative;
    padding-left: 5px;
  }

  /* Hamburger menu visual when not expanded */
  .hamburger,
  .hamburger::before,
  .hamburger::after {
  content: "";
  display: block;
  background: var(--primary-5);
  height: 5px;
  width: 2em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
  transform-origin: center;
  }
  [aria-expanded="false"] .hamburger::before {
      transform: translateY(-8px);
  }
  [aria-expanded="false"] .hamburger::after {
      transform: translateY(4px);
  }
  [aria-expanded="true"] .hamburger::before{
      opacity: 0;
  }
  [aria-expanded='true'] .hamburger{
      transform: rotate(-225deg);
      background-color: var(--light5);
  }
  [aria-expanded='true'] .hamburger::after{
      transform: translateY(-5px) rotate(90deg);
      background-color: var(--light5);
  }

  .prev,
  .next,
  .text {
    font-size: 11px
  }

  .grid-container{
    grid-template-columns: 1fr;
  }
  .grid-item{
    opacity: 100;
  }
  .post-link{
    display: none;
  }  
}
