/*
================================ 
Fonts
================================
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

/*
================================ 
Variables
================================
*/

:root{
  /* darker shades */
  --primary3: #ff6666;
  --primary4: #ff3333;

  /* primary colors */
  --primary-5: #ff0000;
  
  /* lighter shades */
  --primary6: #cc0000;
}

/*
================================ 
CSS Resets
================================
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: beige;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 0.85rem;
  line-height: 1.5rem;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

/*
================================ 
styles
================================
*/

.berk-parallax{
  background-image: url(./images/jeremy-huang-dc94LHM58cA-unsplash.jpg);
  min-height: 1000px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar{
  padding: 15px 20px;
  font-size: 1rem;
  display: flex;
  justify-content:space-between;
}

.navbar a:visited{
  color: black;
}

.logo{
  font-family: 'Zeyada', cursive;
  font-size: 2rem;
  font-weight: 800;
  color: var(--primary-5);
}

@media (min-width: 550px) {
    /* for screen larger than 550 */
    .list a:hover{
        border-bottom: .25rem solid;
        border-color: var(--primary-5);
    }
    .ham-btn{
        display: none;
    }
    .list{
    display: flex;
    gap: 1rem;
    }
    .list span{
        display: none;
    }
}

.title {
  justify-content: center;
  padding: 10px;
  align-items: center;
}

.title-top{
  display: flex;
  justify-content: center;
}

.title-top h2{
  margin: 0;
}

.fa-heart{
  color: var(--primary-5);
  font-size: 1rem;
  margin-left: 5px;
}

#underline, #underline-aboutUs{
  background-color: var(--primary-5);
  height: .25rem;
  margin-left: auto;
  margin-right: auto;
  transition: all 2s linear;
}

#underline {
  width: 15.5rem;
}

#underline-aboutUs{
  width: 10rem;
}

.card, .blurb {
  padding: 10px;
}

fa-home::before, .fa-image::before, fa-mail::before{
    margin-right: .5em;
}

img{
  width: 300px;
}

.img-container{
  padding-bottom: 10px;
}

#down-btn, #left-btn, #right-btn{
  background: transparent;
  border-color: transparent;
  color: var(--primary-5);

}

.chevron-btn{
  width: 75px;
  height: 75px;
}

#down-btn:hover, #left-btn:hover, #right-btn:hover{
  cursor: pointer;
  /* color: var(--primary4); */
  opacity: 0.5;
  transition: all ease 0.2s;
}

.about-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-container{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.btn-container img{
  width: 90%;
  padding-bottom: 85px;
}

#left-btn{
  position: absolute;
  left: 10%;
  bottom: 0;
  padding: 0 20px;
}
#right-btn{
  position: absolute;
  right: 10%;
  bottom: 0;
  padding: 0 20px;
}

/* s */

@media (max-width: 550px) {
  /* for screen smaller than 550 */
    #active-image{
        width: 70%;
    }
    .ham-btn{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 99;
    }
    .list{
        position: fixed;
        z-index: 98;
        inset: 0 0 0 0;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: hsl(100 100% 100%);
        /* backdrop-filter: blur(10px); */
        transition: slide 2s;
        transform: translateX(100%);
        display: flex;
        gap: 2rem;
        transition: transform 500ms ease-out;
    }

    .list[data-state="opened"]{
        transform: translateX(0%);
    }
    .list li{
        border-bottom: .25rem solid var(--primary-5);
        font-size: 1.5rem;
        padding: 5px;
        display: flex;
        justify-content: center;
    }
    .list a{
      padding-left: 1rem;
    }

    /* Hamburger menu visual when not expanded */
    .hamburger,
    .hamburger::before,
    .hamburger::after {
    content: "";
    display: block;
    background: var(--primary-5);
    height: 5px;
    width: 2em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
    transform-origin: center;
    }
    [aria-expanded="false"] .hamburger::before {
        transform: translateY(-8px);
    }
    [aria-expanded="false"] .hamburger::after {
        transform: translateY(4px);
    }
    [aria-expanded="true"] .hamburger::before{
        opacity: 0;
    }
    [aria-expanded='true'] .hamburger{
        transform: rotate(-225deg);
        background-color: black;
    }
    [aria-expanded='true'] .hamburger::after{
        transform: translateY(-5px) rotate(90deg);
        background-color: black;
    }

}    